<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h2>ジャンル追加・一覧画面</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class= "col-md-5 col-md-offset-1">
            <table>
                <tbody>
                <%= form_for(@genre, url: admins_genres_path) do |genre| %>
                
                    <tr>
                        <td>ジャンル</td>
                        <td><%= genre.text_field :name %></td>
                        <td><label><%= genre.radio_button :status, "有効" %>有効</label></td>
                        <td><label><%= genre.radio_button :status, "無効" %>無効</label></td>
                        <td>&nbsp;</td>
                        <td><%= genre.submit "追加", class: "btn btn-primary" %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
        <br>
        <br>
            <table class="table">
                <thead>
                    <tr>
                        <td>ジャンル</td>
                        <td>状態</td>
                    </tr>
                </thead>
                <tbody>
                <% @genres.each do |genre| %>
                    <tr>
                        <td><%= genre.name %></td>
                        <td><%= genre.status %></td>
                        <td><%= link_to "編集する", edit_admins_genre_path(genre.id), class:"btn-sm btn-primary" %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
