<div class="container">
    <div class="row">
        <h1>商品 新規登録画面</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
        <%= form_for(@item, url: admins_items_path) do |item| %>
            <%= attachment_image_tag @item, :image, :fill, 100, 100, format:'jpeg' %>
            <%= item.attachment_field :image %>
        <table>
           <tr>
                <td>商品名</td>
                    <td><%= item.text_field :name %></td>
                </tr>
                <tr>
                    <td>商品説明</td>
                    <td><%= item.text_area :description%></td>
                </tr>
                <tr>
               <td>ジャンル</td>
                <td><%= item.collection_select(:genre_id, Genre.all, :id, :name, prompt: "選択してください") %></td>
            </tr>
            <tr>
                
               <td>税込価格</td>
               <td><%= item.text_field :price %> 円</td>
           </tr>
           <tr>
                              <td>販売ステータス</td>
                    <td><label><%= item.radio_button :status, "販売中" %>販売中</label></td>
                    <td><label><%= item.radio_button :status, "品切れ" %>品切れ</label></td>
                </tr>
           
      </table>
        <%= item.submit "新規登録", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>
</div>
