<div class="container">
    <div class="row">
        <h1>商品 新規登録画面</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
        <%= form_for(@item, url: admins_items_path) do |item| %>
            <%= attachment_image_tag @item, :image, :fill, 100, 100, format:'jpeg' %>
            <%= item.attachment_field :image %>
        </div>
        <div class="col-md-4 col-md-offset-1">
           
                商品名
                    <%= item.text_field :name %>商品説明
                    <%= item.text_area :description%>
               ジャンル
                    <%= item.collection_select(:genre_id, Genre.all, :id, :name, prompt: "選択してください") %>

                
               税込価格<%= item.text_field :price %> 円
               販売ステータス
                    <label><%= item.radio_button :status, "販売中" %>販売中</label>
                    <label><%= item.radio_button :status, "品切れ" %>品切れ</label>
           
        </div>
    </div>
    <div class="row col-md-3 col-md-offset-7">
        <%= item.submit "新規登録", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>