<div class="container">
	<table class="table">
		<thead class="thead bg-info text-white">
			<tr>
				<th></th>
				<th>商品名</th>
				<th>商品説明</th>
				<th>税抜価格</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %></td>
				<td><%= @item.name %></td>
				<td><%= @item.description %></td>
				<td>¥<%= @item.price %>(税抜)</td>
			</tr>
		</tbody>
	</table>

    <%= form_for @cart_item, url: end_users_cart_items_path do |f| %>
     <%= f.hidden_field :item_id, :value => @item.id %>
     <%= f.number_field :amount, min: "1", placeholder: "個数選択" %>
	 <%= f.submit "カートに入れる" , class: "btn btn-info" %>
	<% end %>

</div>